/* app/footer/footer.component.css */
.footer {
    background-color: #222;
    padding: 20px 0;
    color: #fff;
   }
   
   .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   }
   
   .footer-col {
    flex: 1;
    padding: 0 15px;
   }
   
   .footer-col h3 {
    font-size: 18px;
    margin-bottom: 15px;
   }
   
   .footer-col ul {
    list-style-type: none;
    padding: 0;
   }
   
   .footer-col ul li a {
    color: #fff;
    text-decoration: none;
   }